<!DOCTYPE html>
{% set html_lang = grav.language.getActive ?: grav.config.site.default_lang %}
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="{{ html_lang }}"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="{{ html_lang }}"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="{{ html_lang }}"> <!--<![endif]-->
<head>
    {% block head %}
        <meta charset="utf-8" />
        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
        {% include 'partials/metadata.html.twig' %}
        <link rel="preconnect" href="//cdn.jsdelivr.net">
        <link rel="preconnect" href="//res.cloudinary.com">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/gif" href="{{ url('theme://images/favicon.gif') }}" />

        {% block stylesheets %}
            {% set cssVer = site.css_version|trim %}
            {% do assets.addInlineCss(file_get_contents('theme://css/critical_min.css'), {'group':'critical'}) %}
            {% do assets.addCss('theme://css/default.css', {'priority': 10, group:'non-crit'}) %}
            {% do assets.addCss('theme://css/layout.css', {'priority': 10, group:'non-crit'}) %}
            {% do assets.addCss('theme://css/media-queries.css', {'priority': 10, group:'non-crit'}) %}
            {% do assets.addCss('theme://css/magnific-popup.css', {'priority': 10, group:'non-crit'}) %}
        {% endblock %}
        {{ assets.css('critical') }}

        <script src="{{ url('theme://js/modernizr.js') }}" async="async"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.3.0/dist/lazyload.min.js" async="async"></script>
        <script>var LazyLoad; //initialize var so we can test if script doesn't load</script>
    {% endblock %}
    </head>
    <body>
        {% block header %}
             {% include 'partials/header.html.twig' %}
        {% endblock %}
        {% block body %}
            {% block content %}{% endblock %}
        {% endblock %}
        {% block footer %}
             {% include 'partials/footer.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            {% do assets.add('jquery',101) %}
            <script src="{{ url('theme://js/jquery-1.10.2.min.js') }}"></script>
            <script src="{{ url('theme://js/jquery-migrate-1.2.1.min.js') }}"></script>
            {% do assets.addJs('theme://js/jquery.flexslider.js') %}
            {% do assets.addJs('theme://js/waypoints.js') %}
            {% do assets.addJs('theme://js/jquery.fittext.js') %}
            {% do assets.addJs('theme://js/magnific-popup.js') %}
            {% do assets.addJs('theme://js/init.js') %}
            {# {% include 'partials/twFetcher.html.twig' %} #}
        {% endblock %}

        {% block bottom %}
            {{ assets.js()|raw }}
            {{ assets.js('bottom')|raw }}
        {% endblock %}

        {{ assets.css('non-crit') }}

        <script>
            if (LazyLoad !== undefined) {
                var lazyLoadInstance = new LazyLoad({
                    elements_selector: ".lazy"
                });
            } else { //script maybe still loading, try again in 250ms
                setTimeout(function(){
                    if (LazyLoad !== undefined) {
                            var lazyLoadInstance = new LazyLoad({
                            elements_selector: ".lazy"
                        });
                    } else { //LL is still undefined, flip all data-src to src manually
                        $("img.lazy").each(function(i){
                            this.src = $(this).data("src");
                        });
                    }
                }, 250);
            }
        </script>
    </body>
</html>
