<section id="resume">
    {% for section in page.header.sections %}
    <div class="row {{ section.css_class }}">
        <div class="three columns header-col">
            <h1><span>{{ section.title }}</span></h1>
        </div>
        <div class="nine columns main-col">
            {% for item in section.items %}
            <div class="row item">
                <div class="twelve columns">
                    {% if item.title %}
                    <h3>{{ item.title }}</h3>
                    {% endif %}
                    {% if item.info %}
                    <p class="info">{{ item.info }}
                        {% if item.info and item.date %}
                        <span>&bull;</span>
                        {% endif %}
                    {% endif %}
                    {% if item.date %}    
                    <em class="date">{{ item.date }}</em></p>
                    {% endif %}
                    <div>
                        {{ item.description }}
                    </div>

                    {% if item.skills %}
                    <div class="bars">
                        <ul class="skills">
                            {% for skill in item.skills %}
                            <li><span class="bar-expand" style="width: {{ skill.level }}%;animation: {{ (skill.anim) ? skill.anim|lower : skill.name|lower }} {{ (skill.level >= 90) ? '3.2s' : (skill.level >= 85) ? '3s' : '2.8s' }} ease;"></span><em>{{ skill.name }}</em></li>
                            <style>
                                @-moz-keyframes {{ (skill.anim) ? skill.anim|lower : skill.name|lower }} {
                                    0%   { width: 0; }
                                    100% { width: {{ skill.level }}%; }
                                }
                                @-webkit-keyframes {{ (skill.anim) ? skill.anim|lower : skill.name|lower }} {
                                    0%   { width: 0; }
                                    100% { width: {{ skill.level }}%; }
                                }
                            </style>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                </div>
            </div>
            {% if (item != section.items|last) %}
                <hr />
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>
